.parallax-container {
    height: 400px;
}

.sidenav {
    width: 220px;
}

#avatar {
    height: 180px;
    margin-top: 15px;
    border-radius: 5%;
}

@media only screen and (max-width: 1200px) {
    #avatar {
        height: 380px;
    }
}

@media only screen and (max-width: 992px) {
    #avatar {
        height: 320px;
    }
}

@media only screen and (max-width: 750px) {
    #avatar {
        margin-top: 50px;
        height: 230px;
    }
}

@media only screen and (max-width: 600px) {
    #avatar {
        height: 180px;
    }

    .brand-logo {
        font-size: large !important;
    }

    h1 {
        font-size: 3em;
    }
}

.nonSelectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#bio {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#searchedUsers {
    margin-top: 30px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}