{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="shortcut icon" type="image/png" href="{%static "img\favicon.png"%}" />
    <title>Django Twitter</title>
</head>

<body>
    <main>
        <nav class="blue lighten-1">
            <div class="nav-wrapper container">
                <a href="{%url "home"%}" class="brand-logo">Django Twitter</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{%url "home"%}">Home</a></li>
                    <li><a href="{%url "profile"%}">Profile</a></li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <li><a href="{%url "home"%}">Home</a></li>
            <li><a href="{%url "profile"%}">Profile</a></li>
        </ul>

        <div class="container">
            {% block contentContainer %}
            {% endblock contentContainer %}
        </div>

        {% block contentNoContainer %}
        {% endblock contentNoContainer %}

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

        <script>
            $(document).ready(function () {

                $('.sidenav').sidenav();
                $('.materialboxed').materialbox();
                $('.parallax').parallax();
            });
        </script>
    </main>

    <footer class="page-footer blue lighten-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Project Description</h5>
                    <p class="grey-text text-lighten-4">A Django based Twitter profile viewer</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Social Media</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="https://twitter.com/GHOSCHT">Twitter</a></li>
                        <li>
                            <a class="grey-text text-lighten-3" href="https://www.instagram.com/gh0scht/">Instagram</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3"
                                href="https://twitter.com/messages/compose?recipient_id=4726005016">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                © 2020 GHOSCHT
                <a class="grey-text text-lighten-4 right" href="https://github.com/GHOSCHT">More Projects</a>
            </div>
        </div>
    </footer>
</body>

</html>